#group system log shell
#service epmlogd /system/bin/epmlogd
#    class main
#    user system
#    group system log shell
#    oneshot

# virtual sdcard daemon running as system (1000)
#service knox /system/bin/sdcard /data/knox/sdcard /mnt/shell/knox-emulated 1000 1000
#    class late_start
#    oneshot

# virtual sdcard daemon running as system (1000)
#service secure_fs /system/bin/sdcard -r /data/knox/secure_fs/enc_media /mnt/shell/enc_media 1000 1000
#    class late_start
#    oneshot

#    start knox

on property:persist.sys.knox.dualdard=true
    start dualdard

on property:persist.sys.knox.dualdard=false
    stop dualdard
